<%= render 'layouts/alerts'%>
<div class="col-md-12">
<h1 class="myclass"><i class="fa fa-users"></i> Your Clients</h1>
</div>
<div class="col-md-12">
		<h3 class="header smaller lighter myclass">Have a look at your client list</h3>

		<div class="clearfix">
			<div class="pull-right tableTools-container"></div>
		</div>
		<div class="table-header">
			<i class="fa fa-users"></i> Your Clients
		</div>
<% if !@contacts.nil? %>
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
  <thead>

  <tr>
    <th>Contact</th>
    <th>Date</th>
    <!--<th>Status</th>-->
  </tr>
  </thead>
  <tbody>
  <% @contacts.each do |c| %>
      <tr>
        <td><%= c.phone %></td>
        <td><%= c.created_at.strftime("%m/%d/%Y") %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p> You currently do not have any contacts</p>
<% end %>

    <div class="clearfix">
      <div class="pull-right tableTools-container"></div>
    </div>
    <div class="table-header">
      <i class="fa fa-users"></i> Emails
    </div>
    <% if !@emails.nil? %>
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
          <thead>

          <tr>
            <th>Contact</th>
            <th>Date</th>
            <!--<th>Status</th>-->
          </tr>
          </thead>
          <tbody>
          <% @emails.each do |c| %>
              <tr>
                <td><%= c.email %></td>
                <td><%= c.created_at.strftime("%m/%d/%Y") %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <p> You currently do not have any emaill contacts</p>
    <% end %><br><br>
</div>
