<%= render 'layouts/alerts' %>
<div class="row">
	
	<div class="space-6"></div>

	<div class="col-sm-12">

		<script type="text/javascript">
			window.onload = function () {
	}
		</script>
		<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<div id="chartContainer" style="height: 300px; width: 100%;"></div>

	</div><!-- /.col -->
	<div class="vspace-12-sm"></div>

	<div class="col-sm-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5 class="widget-title"><i class="ace-icon fa fa-signal"></i> Visitor Stats</h5>

			</div>

			<div class="widget-body">
				<div class="widget-main">
					<div id="piechart-placeholder"></div>

					<div class="hr hr8 hr-double"></div>

					<div class="clearfix">
						<div class="grid3">
							<span class="grey"> <i class="ace-icon fa fa-user fa-2x blue"></i> &nbsp; Total Visits </span>
							<h4 class="bigger pull-right"><%= Contact.where(store_id:current_store.id).count %></h4>
						</div>

						<div class="grid3">
							<span class="grey"> <i class="ace-icon fa fa-user fa-2x blue"></i> &nbsp; Unique Visits </span>
							<h4 class="bigger pull-right"><%= Contact.where(store_id:current_store.id).distinct.pluck(:phone).count %></h4>
						</div>

						<div class="grid3">
							<span class="grey"> <i class="ace-icon fa fa-user fa-2x blue"></i> &nbsp; Today </span>
							<h4 class="bigger pull-right"><%= Contact.where(date:Date.current).count %></h4>
						</div>
					</div>
				</div><!-- /.widget-main -->
			</div><!-- /.widget-body -->
		</div><!-- /.widget-box -->
    <div id="chartContain" style="height: 300px; width: 100%;margin-bottom:2em;">
    </div>
	</div><!-- /.col -->
</div><!-- /.row -->

<script>
    $(function () {
        document.addEventListener("turbolinks:load", function () {

            var chart2 = new CanvasJS.Chart("chartContainer",
                {
                    theme: "theme2",
                    title:{
                        text: "Visits per day"
                    },
                    animationEnabled: true,
                    axisX: {
                        valueFormatString: "DDD",
                        interval:1,
                        intervalType: "day"

                    },
                    axisY:{
                        includeZero: false

                    },
                    data: [
                        {
                            type: "line",
//lineThickness: 3,

                            dataPoints: [

                                <% @contact.each do |c|%>
                                {x: new Date(<%= c.strftime("%Y") %>,<%= c.strftime("%m") %>,<%= c.strftime("%-d") %>) , y:<%= Contact.where(date:c).count %>},<% end %>
                            ]
                        }

                    ]
                });

            chart2.render();
        });
    });

    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Type', 'Numbers'],
            ["Total Visits",<%= Contact.where(store_id:current_store.id).count %>],
            ["Unique Visits%",<%= Contact.where(store_id:current_store.id).distinct.pluck(:phone).count %>],
            ["Today",<%= Contact.where(date:Date.current).count %>]
        ]);

        var options = {
            title: 'Visits',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('chartContain'));
        chart.draw(data, options);
    }
</script>







