<%= render 'layouts/alerts' %>

	<div class="col-md-12">

		<script type="text/javascript">
			window.onload = function () {
	}
		</script>
		<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<div id="curve_chart" style="height: 300px; width: 100%;"></div>

	</div><!-- /.col -->
	<div class="vspace-12-sm"></div>

	<div class="col-sm-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h5 class="widget-title"><i class="ace-icon fa fa-signal"></i> Visitor Stats</h5>

			</div>

			<div class="widget-body">
				<div class="widget-main">
					<div id="piechart-placeholder"></div>

					<div class="hr hr8 hr-double"></div>

					<div class="clearfix">
						<div class="grid3">
							<span class="grey"> <i class="ace-icon fa fa-user fa-2x blue"></i> &nbsp; Total Visits </span>
							<h4 class="bigger pull-right"><%= Contact.where(store_id:current_store.id).count %></h4>
						</div>

						<div class="grid3">
							<span class="grey"> <i class="ace-icon fa fa-user fa-2x blue"></i> &nbsp; Unique Visits </span>
							<h4 class="bigger pull-right"><%= Contact.where(store_id:current_store.id).distinct.pluck(:phone).count %></h4>
						</div>

						<div class="grid3">
							<span class="grey"> <i class="ace-icon fa fa-user fa-2x blue"></i> &nbsp; Today </span>
							<h4 class="bigger pull-right"><%= Contact.where(date:Date.current).count %></h4>
						</div>
					</div>
				</div><!-- /.widget-main -->
			</div><!-- /.widget-body -->
		</div><!-- /.widget-box -->
  </div>


  <div id="chartContain" class="col-md-6" text-center style="height: 500px; width: 100%;margin-bottom:2em;">


<script>
    $(function () {
        document.addEventListener("turbolinks:load", function () {
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Type', 'Numbers'],
                    ["Total Visits",<%= Contact.where(store_id:current_store.id).count %>],
                    ["Unique Visits",<%= Contact.where(store_id:current_store.id).distinct.pluck(:phone).count %>],
                    ["Today",<%= Contact.where(date:Date.current).count %>]
                ]);

                var options = {
                    title: 'Visits',
                    pieHole: 0.4,
                };

                var chart = new google.visualization.PieChart(document.getElementById('chartContain'));
                chart.draw(data, options);
            }

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart2);

            function drawChart2() {
                var data2 = google.visualization.arrayToDataTable([
                    ['Day', 'Visits'],

                    <% @contact.each do |c|%>
                    [new Date(<%= c.strftime("%Y") %>,<%= c.strftime("%m") %>,<%= c.strftime("%-d") %>) , <%= Contact.where(date:c).count %>],
                    <% end %>
                ]);

                var options2 = {
                    title: 'Visits',
                    //curveType: 'function',
                    legend: { position: 'bottom' }
                };

                var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart2.draw(data2, options2);
            }
        });
    });


    </script>



</div>