<%= render 'layouts/alerts' %>
	<!-- <div class="vspace-12-sm"></div> -->

	<div class="col-sm-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat widget-header-small">
				<h1 class="widget-title myclass"><i class="ace-icon fa fa-line-chart"></i> Visitor Stats</h1>

			</div>

			<div class="widget-body">
				<div class="widget-main">
					<!-- <div id="piechart-placeholder"></div> -->

					<!-- <div class="hr hr8 hr-double"></div> -->

					<div class="clearfix">
						<br><br>
						<div class="col-md-4 col-xs-12">
							<div class="col-md-12 stats-div">
							<span class=""> <i class="ace-icon fa fa-user fa-5x"></i> &nbsp; <span style="vertical-align: top;font-size:22px;font-weight:700;">Total Visits</span> </span>
							<h4 class="bigger pull-right"><%= Contact.where(store_id:current_store.id).count %></h4>
							</div>
						</div>

						<div class="col-md-4 col-xs-12">
							<div class="col-md-12 stats-div">
							<span class=""> <i class="ace-icon fa fa-user-plus fa-5x"></i> &nbsp; <span style="vertical-align: top;font-size:20px;font-weight:700;">Unique Visits</span> </span>
							<h4 class="bigger pull-right"><%= Contact.where(store_id:current_store.id).distinct.pluck(:phone).count %></h4>
							</div>
						</div>

						<div class="col-md-4 col-xs-12">
							<div class="col-md-12 stats-div">
							<span class=""> <i class="ace-icon fa fa-calendar fa-5x"></i> &nbsp; <span style="vertical-align: top;font-size:20px;font-weight:700;">Today</span> </span>
							<h4 class="bigger pull-right"><%= Contact.where(date:Date.current).count %></h4>
							</div>
						</div>
						<br><br>
					</div>
				</div><!-- /.widget-main -->
			</div><!-- /.widget-body -->
		</div><!-- /.widget-box -->
  </div>
	<div class="col-md-12">

		<script type="text/javascript">
			window.onload = function () {
			}
		</script>
		<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


	</div><!-- /.col -->
	<!-- <div class="widget-box">
		<div class="widget-body">
			<div id="curve_chart" style="height: 300px; width: 100%;"></div>
		</div>
	</div> -->
	<div class="widget-box">
		<div class="widget-body">
  		<div id="chartContain" class="col-md-6 text-center" style="height: 500px; width: 100%;margin-bottom:2em;"></div>
		</div>
	</div>


<script>
    $(function () {
        document.addEventListener("turbolinks:load", function () {
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Type', 'Numbers'],
                    ["Total Visits",<%= Contact.where(store_id:current_store.id).count %>],
                    ["Unique Visits",<%= Contact.where(store_id:current_store.id).distinct.pluck(:phone).count %>],
                    ["Today",<%= Contact.where(date:Date.current).count %>]
                ]);

                var options = {
                    title: 'Visits',
                    pieHole: 0.4,
                };

                var chart = new google.visualization.PieChart(document.getElementById('chartContain'));
                chart.draw(data, options);
            }

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart2);

            function drawChart2() {
                var data2 = google.visualization.arrayToDataTable([
                    ['Day', 'Visits'],

                    <%
                    if @contact.nil?
                    @contact.each do |c|%>
                    [new Date(<%= c.strftime("%Y") %>,<%= c.strftime("%m") %>,<%= c.strftime("%-d") %>) , <%= Contact.where(date:c).count %>],
                    <%
                    end
                    end %>
                ]);

                var options2 = {
                    title: 'Visits',
                    //curveType: 'function',
                    legend: { position: 'bottom' }
                };

                var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart2.draw(data2, options2);
            }
        });
    });
    </script>
