<%= render 'layouts/alerts'%>
<div class="col-md-12">
<h1 class="myclass"><i class="fa fa-shopping-bag"></i> Your Stores</h1></br><br>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  $(function () {
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart2);

      function drawChart2() {

          var data2 = new google.visualization.DataTable();
          data2.addColumn('date', 'X');
          <% @stores.each do |s| %>
          data2.addColumn('number', '<%= s.store_name %>');
          <% end %>

          data2.addRows([

              <%
              storelist = []
              @stores.each do |s|

              storelist << s.id
              end
              puts storelist
              @contact = Contact.where('created_at >= ?',1.week.ago).where(store_id:storelist).order("date ASC").distinct.pluck(:date)
              if !@contact.nil?
              @contact.each do |c|%>
              [new Date(<%= c.strftime("%Y") %>, <%= c.strftime("%m").to_i - 1 %>, <%= c.strftime("%-d") %>),<% @stores.each do |es| %> <%= "#{Contact.where(date:c.strftime('%Y-%m-%d'),store_id:es.id).count}," %> <% end  %>],
              <%
              end
              end %>

          ]);
          var options2 = {
              hAxis: {
                  title: 'Date'
              },
              vAxis: {
                  title: 'Logins'
              },
          };
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

          chart.draw(data2, options2);
      }
  });
</script>
<div class="col-md-12">
  <div style="height:300px;border:1px solid #c6c6c6" id="curve_chart"></div><br>
</div>
</br>
	<div class="col-md-12">
		<a href="<%= home_new_path %>" class="my-button"> <i class="ace-icon fa fa-plus"></i> New Store</a>
		<a href="<%= stores_path %>" target="_blank" class="my-button"> <i class="ace-icon fa fa-external-link"></i> Store Login</a>
	</div>

<div class="col-md-12">
		<h3 class="header smaller lighter myclass">Have a look at your current stores</h3>

		<div class="clearfix">
			<div class="pull-right tableTools-container"></div>
		</div>
		<div class="table-header">
			<i class="fa fa-shopping-bag"></i> Your Stores
		</div>

		<!-- div.table-responsive -->

		<!-- div.dataTables_borderWrap -->
		<div>
			<table id="dynamic-table" class="table table-striped table-bordered table-hover">
				<thead>

					<tr>
						<!-- <th class="center"><label class="pos-rel">
							<input type="checkbox" class="ace" />
							<span class="lbl"></span> </label></th> -->
						<th>Name</th>
						<th>Email</th>
						<th>Status</th>

						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @stores.each do |s| %>
					<tr>
						<!-- <td class="center"><label class="pos-rel">
							<input type="checkbox" class="ace" />
							<span class="lbl"></span> </label></td> -->

						<td><a target="_blank" href="<%= stores_path %>"><%= s.store_name %></a></td>
						<td><%= s.email %></td>
						<td><%= s.active %></td>
						<td>
						<div class="hidden-sm hidden-xs action-buttons">


							<a class="green" href="<%= stores_path %>"> <i class="ace-icon fa fa-pencil bigger-130"></i> </a>



              <a class="" style="color: #FABA34" href="<%= stores_path %>"></a><span class=""> <i class="ace-icon fa fa-trash-o bigger-120"></i> </span>

						</div>
						<div class="hidden-md hidden-lg">
							<div class="inline pos-rel">
								<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
									<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
								</button>

								<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
									<li>
										<a href="#" class="tooltip-info" data-rel="tooltip" title="View"> <span class="blue"> <i class="ace-icon fa fa-search-plus bigger-120"></i> </span> </a>
									</li>

									<li>
										<a href="<%= stores_path %>" class="tooltip-success" data-rel="tooltip" title="Edit"> <span class="green"> <i class="ace-icon fa fa-pencil-square-o bigger-120"></i> </span> </a>
									</li>
									<li>

                    <a class="" style="color: #FABA34" href="<%= stores_path %>"></a><span class=""> <i class="ace-icon fa fa-trash-o bigger-120"></i> </span>

									</li>
								</ul>
							</div>
						</div></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
</div>
