<div class="container" align="center" alink="#FFFFFF">

	<div class="col-md-6 col-md-offset-3">
		<% if @camp.campaign_text_status %>
		<p class="text-center" style="color:#000; font-size:36px; font-family:'Century Gothic';">
			<strong><%= @camp.campaign_text %></strong>
		</p>
		<% end %>
		
		<%= image_tag(@camp.media_url.to_s , width:'100%') %>
	
</div>
	<div class="col-md-6 col-md-offset-3">
		<%= form_tag('/pages/submit') do %>
 
		<% if @camp.contact_type_id == 2 %>
		<p><%= text_field_tag :phone, nil, placeholder:'Leave your phone number here', class:'text-center', id:'thenumber', width:'100%' %></p>
		<% end %>
		
		<% if @camp.contact_type_id == 1 %>
		<p><%= text_field_tag :phone, nil, placeholder:'Leave your email here', class:'text-center', id:'theemail', width:'100%' %></p>
		<% end %>
		
		<% if @camp.contact_type_id == 3 %>
		<p><%= submit_tag 'Browse!', class:'btn btn-lg', style:'font-style:bold;font-size:22px; text-align:center;color:#000;border-radius:0px;width:"100%";border-style:none;background-color:transparent', id:'signupbtn', type:'submit' %></p>
		<% else %>
		<p><%= submit_tag 'Browse!', class:'btn btn-lg', style:'font-style:bold;font-size:22px; text-align:center;color:#000;border-radius:0px;width:"100%";border-style:none;background-color:transparent', id:'signupbtn', type:'submit', disabled:'disabled'%></p>
		<% end %>
		
		
		<% end %>
	</div>

</div>
