<div style="background-color: #fff;opacity:0.8;" class="container" align="center" alink="#FFFFFF">

	<div class="col-md-6 col-md-offset-3">
		<% if @camp.campaign_text_status %>
		<p class="text-center" style="color:#FFFFFF; font-size:36px; font-family:'Century Gothic';">
			<strong><%= @camp.campaign_text %></strong>
		</p>
		<% end %>
		
		<% question = Question.where(store_campaign_id:@camp.id).first %>
    <p style="font-size: x-large"><b><%= question.question %></b></p>
</div>
	<div  class="text-left col-md-6 col-md-offset-3">
    <% answers = PollAnswer.where(question_id:question.id).order(:created_at) %>
		<%= form_tag('/poll_answers/submit_poll',method:'put') do %>
        <% answers.each do |a| %>
            <div class="text-left col-xs-6 col-xs-offset-3">
              <div class="field">
        <%= radio_button(:count,'count',a.id,required:'required')%> <b style="padding-left:2em"><%= a.answer %></b><p>
              </p>
              </div>
            </div>
        <% end %>
        <div class="col-xs-6 col-xs-offset-3">
          <div class="field">
          <br>
    <p><%= submit_tag 'Browse!', class:'btn btn-lg', style:"background-color:transparent;font-size:22px; text-align:center;color:#{@camp.text_color};border-radius:1px;width:'100%';border-style:solid;border-color:#{@camp.text_color};border-width:1px;", id:'signupbtn', type:'submit'%></p>
          </div>
        </div>
		<% end %>
	</div>

</div>
