<div class="container" align="center">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<% if @camp.sponsored_text_status %>
			<p style="color:<%= @camp.text_color %>;">
				<%= @camp.sponsored_text %>
			</p>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div style="opacity:<%= @camp.splashimage_opacity %>" >
				<%= image_tag(@camp.splashimage_url.to_s, class:'border', width:'100%') %>
			</div>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<%= link_to "ACCEPT AND CONTINUE", pages_campaign_path, :class=>'btn btn-lg', style:"margin:1em;font-style:bold;font-size:22px; text-align:center;color:#{@camp.text_color};border-radius:0px;width:'100%'';border-style:none;background-color:#fff;opacity:0.9" %>
		</div>
	</div>
</div>