<%= form_for(ticket) do |f| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code,class:'col-sm-12 col-md-12',style:'margin-top:2em' %>
    <%= f.text_field :code,class:'col-sm-12 col-md-12',placeholder:'Code' %><br><br><br>
  </div>

  <div class="actions text-center" style="margin-top:4em">
    <%= f.button type:'submit', class:"submit-button" do %>
		<i class="ace-icon fa fa-save bigger-110"></i>
		Update Ticket
		<% end %>
  </div>
<% end %>
