<%= render 'layouts/alerts' %>

<%= form_for :storecampaign, :url => {:controller => 'store_campaigns', :action => 'update'},method:'put' do |f|%>
<div class="col-md-6 col-md-offset-3"><h1>Edit <%= @storecampaign.name %></h1></div>
<div class="row" style="background-color: #F3F3F3;padding:1em;margin-top: -2em">
	<div class="col-md-offset-1 col-md-5 col-xs-12">
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name,class:'form-control' %>
		</div>
	</div>
	<div class="col-md-offset-1 col-md-5 col-xs-12">
		<div class="form-group">
			<%= f.label "Show Splash Page" %>
			<%= f.check_box :splashpage_status %>
		</div>

	</div>
</div>
<div class="row" style="padding:1em;">
    <div class="col-md-5 col-md-offset-1">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label "Text Color" %>
          <%= f.text_field :text_color, class:'colorpicker2' %>
        </div>
      </div>
      <div class="col-md-6">
        <div id="clrbx2" style="display:block;height:10px;width:250px;padding:1em;border-style:solid;border-color:#000000;background-color:<% if !@storecampaign.text_color.nil? %><%= @storecampaign.text_color %><% else %> <%= 'whitesmoke' %> <% end %>;" class="form-group backcolor2 col-md-6"></div>
      </div>
    </div>
  <div class="col-md-5 col-md-offset-1">
		<div class="form-group">
			<%= f.label "Sponsored Text" %>
			<%= f.check_box :sponsored_text_status %>
		</div>

		<div class="form-group">
			<%= f.label "Sponsored Text" %>
			<%= f.text_area :sponsored_text, class:'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label "Campaign Text" %>
			<%= f.check_box :campaign_text_status %>
		</div>
		<div class="form-group">
			<%= f.label "Campaign Text" %>
			<%= f.text_area :campaign_text,class:'form-control' %>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-1">
		<div class="col-md-6">
			<div class="form-group">
				<%= f.label "Splash Image" %>
				<p>
					<%= f.file_field :splashimage %>
			</div>

			<div id='splash' class="field" style="opacity:<%= @storecampaign.splashimage_opacity %>">
				<%= image_tag(@storecampaign.splashimage_url(:thumb).to_s ) %>
				<br/>
				Opacity: <%= f.range_field(:splashimage_opacity, in: 0..1, step: 0.1, id:'op' )%>
			</div>

		</div>
		<%if @storecampaign.campaign_id==1%>
		<div class="col-md-6">
			<div class="field">
				<%= f.label "Campaign Image" %>
				<%= f.file_field :media %>
			</div>
			<br/>

			<div class="field">
				<%= image_tag(@storecampaign.media_url(:thumb).to_s) %>
			</div>
		</div>
		<% else %>
		<div class="col-md-6">
			<div class="field">
				<%= f.label "Campaign Video" %>
				<%= f.file_field :video %>
			</div>
			<br/>

			<div style="border-style: solid; border-bottom-color: #CCCCCC;border-width: 1px;" class="field">
				<%= video_tag @storecampaign.video.url, width:'100%', controls:'' %>
			</div>
		</div>
		<%end%>

	</div>

</div>
<br/>
<br/>
<div class="row" style="background-color: #F3F3F3;padding:1em;">
	<div class="col-md-5 col-md-offset-1">
		<div class="col-md-6">
			<div class="field">
				<%= f.label "Image Background" %>
				<%= f.radio_button(:background, 'image', id:'back')%>
			</div>
			</p>
			<div class="field back">
				<%= f.label "Choose background Image" %>
				<%= f.file_field :bg_img %>
			</div>
		</div>
		<div class="col-md-6 back">
			<div class="field">
				<%= image_tag(@storecampaign.bg_img_url(:thumb).to_s) %>

			</div>
		</div>
	</div>
	<div class="col-md-5 col-md-offset-1">
		<div class="col-md-6">
			<div class="field">
				<%= f.label "Color Background" %>
				<%= f.radio_button(:background, "color", id:'color') %>
			</div>
			</p>
			<div class="field backcolor">
				<%= f.label "Background Color" %>
				<%= f.text_field :background_color, class:'colorpicker' %>
			</div>
		</div>
		<div id="clrbx" style="height:250px;width:250px;padding:1em;border-style:solid;border-color:#000000;background-color:<% if !@storecampaign.background_color.nil? %><%= @storecampaign.background_color %><% else %> <%= whitesmoke %> <% end %>;" class=" backcolor col-md-6"></div>

	</div>
</div>
<div class="row" style="padding: 1em;">
    <div class="col-md-4">
      <div class="field">
        <%= f.label "Enable Login by Facebook Like" %>
		  <%= f.check_box :fb_status %>
      </div>
      <br>
      <div class="field">
        <%= f.label "Facebook Page" %>
        <%= f.text_field :fb_link %>
      </div>
    </div>
  <div class="col-md-4">
      <div class="form-group">
        <%= f.label "Enable SMS Login" %>
        <%= f.check_box :sms_status %>
      </div>
  </div>
  <div class="col-md-4">
      <div class="form-group">
        <%= f.label "Enable Email Login" %>
        <%= f.check_box :email_status %>
      </div>
    </div>
	</div>
<br/>
<br/>
<div class="row" style="background-color: #F3F3F3;padding:1em;margin-bottom: -2em">
	<div class="col-md-offset-1 col-md-5">
		<p>
			<%= f.submit 'Save Changes', class:'btn btn-primary'%>
		</p>
	</div>

</div>

	<% end %>
