<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Campaign Name: <%= @camp.name %></h2>
    <p></p>
    <h3>Question: <%= @question.question %></h3>
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul>
      <% @answers.each do |a| %>
          <li><%= a.answer %> : <%= a.count %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <div id="pollans" style="height:300px;">
  </div>
  </div>
</div>

<script>
    $(function () {
        document.addEventListener("turbolinks:load", function() {
        var chart = new CanvasJS.Chart("pollans",
            {
                title: {
                    text: "<%=(CGI.unescapeHTML @question.question).html_safe %>"
                },
                animationEnabled: true,
                theme: "theme2",
                data: [
                    {
                        type: "doughnut",
                        indexLabelFontFamily: "Garamond",
                        indexLabelFontSize: 20,
                        startAngle: 0,
                        indexLabelFontColor: "dimgrey",
                        indexLabelLineColor: "darkgrey",
                        toolTipContent: "{y} %",

                        dataPoints: [
                    <% @answers.each do |a| %>
                            {y: <%= a.count %> , indexLabel: "<%= a.answer %> {y}%"},
                    <% end %>
        ]
    }
        ]
    })
        ;

        chart.render();
        });
    });

</script>