<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Campaign Name: <%= @camp.name %></h2>
    <p></p>
    <h3>Question: <%= @question.question %></h3>
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul>
      <% @answers.each do |a| %>
          <li><%= a.answer %> : <%= a.count %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3" text-center id="pollans" style="width: 900px; height: 500px;">
  </div>
</div>

<script>
    $(function () {
        document.addEventListener("turbolinks:load", function() {
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Choice', 'Votes'],
                    <% @answers.each do |a| %>
                    ["<%= a.answer %>",<%= a.count %>],
                    <% end %>
                ]);

                var options = {
                    title: "<%=(CGI.unescapeHTML @question.question).html_safe %>",
                    pieHole: 0.4,
                };

                var chart = new google.visualization.PieChart(document.getElementById('pollans'));
                chart.draw(data, options);
            }



        });
    });

</script>