
<%= render 'layouts/alerts' %>


<div class="col-md-9 col-md-offset-1">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
</div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:'form-horizontal', method: :put }) do |f| %>

  <%= devise_error_messages! %>


<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Email </label>
	<div class="col-sm-9">
		<%= f.text_field :email, class:'col-xs-10 col-sm-5', placeholder:"Email", required:'required' %>
	</div>
</div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Password <i>(leave blank if you don't want to change it)</i></label>
	<div class="col-sm-9">
		<%= f.password_field :password, class:'col-xs-10 col-sm-5', placeholder:"Password" %>
		<% if @minimum_password_length %>
      <br />
        <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Confirm Password </label>
	<div class="col-sm-9">
		<%= f.password_field :password_confirmation, class:'col-xs-10 col-sm-5', placeholder:"Password",  autocomplete: "off" %>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Current Password </label>
	<div class="col-sm-9">
		<%= f.password_field :current_password, class:'col-xs-10 col-sm-5', placeholder:"Current Password", required:'required',  autocomplete: "off" %>
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Avatar </label>
	<div class="col-sm-9">
		<%= f.file_field :avatar, class:'col-xs-10 col-sm-5', placeholder:"Email" %>
	</div>
</div>



<div class="clearfix form-actions">
	<div class="col-md-offset-3 col-md-9">
		<%= f.button type:'submit', class:"btn btn-info" do %>
		<i class="ace-icon fa fa-check bigger-110"></i>
		Submit
		<% end %>
	</div>
</div>

<% end %>

<%= video_tag resource.avatar.url %>
