<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Dashboard - Cards</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
		
		<%= csrf_meta_tags %>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default          ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="<%= root_path %>" class="navbar-brand"> <small> <i class="fa fa-leaf"></i> <% if store_signed_in? %> <%= current_store.store_name.upcase%> <%else%> CARDS <%end%> </small> </a>
					
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle"> <i class="fa fa-user fa-2x"></i> <span class="user-info"> Profile </span> <i class="ace-icon fa fa-caret-down"></i> </a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="<%= stores_settings_path %>"> <i class="ace-icon fa fa-cog"></i> Settings </a>
								</li>

								<li>
									
									
									<%if controller_name=='stores' || controller_name=='store_campaigns' || controller_name == 'polls' || controller_name == 'poll_answers' %>
									<%= link_to edit_store_registration_path do %>
									<i class="ace-icon fa fa-user"></i> Profile
									<%end%>
									
									<%end%>
									
									<%if controller_name=='home'%>
									
									<%= link_to edit_user_registration_path do %>
									<i class="ace-icon fa fa-user"></i> Profile
									<%end%>
									
									<%end%>

								</li>

								<li class="divider"></li>

								<li>
									
									<% if controller_name=='home' || controller_name =='user_registrations' || controller_name == 'store_registrations'%>
									<%= link_to destroy_user_session_path, method:'delete' do %>
									<i class="ace-icon fa fa-power-off"></i> Logout
									<%end%>
									<%end%>
									
									<% if controller_name=='stores' || controller_name=='store_campaigns'%>
									<%= link_to destroy_store_session_path, method:'delete' do %>
									<i class="ace-icon fa fa-power-off"></i> Logout
									<%end%>
									<%end%>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try {
					ace.settings.loadState('main-container')
				} catch(e) {
				}
			</script>
			<%if store_signed_in? && controller_name=='stores' || controller_name=='store_campaigns'  || controller_name == 'polls' || controller_name == 'poll_answers'%>
			<%= render 'layouts/sidebar' %>
			<%end%>

			<%if user_signed_in? && controller_name=='home' || controller_name =='user_registrations' || controller_name == 'store_registrations'%>
			<%= render 'layouts/usersidebar' %>
			<%end%>

			<div class="main-content">
				<div class="main-content-inner">

					<%= yield %>

					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
		</div>
		</div><!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner">
				<div class="footer-content">
					<span class="bigger-120"> <span class="blue bolder">C-NET</span> Wifi &copy; 2015- <%= Date.current.strftime('%Y') %></span>

					&nbsp; &nbsp;
					<span class="action-buttons"> <a href="#"> <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i> </a> <a href="#"> <i class="ace-icon fa fa-rss-square orange bigger-150"></i> </a> </span>
				</div>
			</div>
		</div>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i> </a>
		</div>
		<!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<!-- <![endif]-->

		<!--[if IE]>
		<script src="assets/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		
	</body>
</html>
