
<%= render 'layouts/alerts' %>

<h2> Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class:'form-horizontal'}, method:'put') do |f| %>

    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :store_name, class:"col-sm-3 control-label no-padding-right" %><br/>
      <div class="col-sm-9">
        <%= f.text_field :store_name, class: 'col-xs-10 col-sm-5', placeholder: "Store Name", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class:"col-sm-3 control-label no-padding-right" %><br/>
      <div class="col-sm-9">
        <%= f.email_field :email, autofocus: true, class: 'col-xs-10 col-sm-5', placeholder: "Email" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password,class:"col-sm-3 control-label no-padding-right" %> <p></p><i>(leave blank if you don't want to change it)</i><br/>
      <div class="col-sm-9">
        <%= f.password_field :password, autocomplete: "off",class: 'col-xs-10 col-sm-5',placeholder:'Password' %>
        <% if @minimum_password_length %>
            <br/>
            <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation ,class:"col-sm-3 control-label no-padding-right"%><br/>
      <div class="col-sm-9">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'col-xs-10 col-sm-5', placeholder: "Password Confirmation" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password, class:"col-sm-3 control-label no-padding-right" %> <p></p><i>(we need your current password to confirm your changes)</i><br/>
      <div class="col-sm-9">
        <%= f.password_field :current_password, autocomplete: "off", class: 'col-xs-10 col-sm-5', placeholder: "Current Password" %>
      </div>
    </div>


    <div class="clearfix form-actions">
      <div class="col-md-offset-3 col-md-9">
        <%= f.button type: 'submit', class: "btn btn-info" do %>
            <i class="ace-icon fa fa-check bigger-110"></i>
            Update
        <% end %>
      </div>
    </div>
<% end %>
